# Compiled source #
###################
*.class

# Packages #
############
*.jar
*.war
*.ear

# Maven #
#########
target

# eclipse #
###########
.project
.classpath

# Logs and databases #
######################
*.log
*.sql

# Folder #
##########
target
.settings
